{% load cms_tags sekizai_tags %} 
{% comment %}  loads the template tag libraries we use in the template. {% endcomment %}
<html lang="fr" dir="ltr">{% comment %} ltr ==> left to right {% endcomment %}
    <head>
        <title>{% page_attribute "page_title" %}</title> {% comment %} extracts the page’s page_title attribute. {% endcomment %}
        {% render_block "css" %}
    {% comment %} 
        {% render_block "css" %} and {% render_block "js" %} are Sekizai template tags that load blocks of
         HTML defined by Django applications. django CMS defines blocks for CSS and JavaScript, and 
         requires these two tags. We recommended placing {% render_block "css" %} just before the </head>
          tag, and and {% render_block "js" %} tag just before the </body>. 
    {% endcomment %}
    </head>
    <body>
        {% cms_toolbar %}
        {% comment %} renders the django CMS toolbar. {% endcomment %}
        {% placeholder "content" %}
        {% comment %} defines a placeholder, where plugins can be inserted. A template needs at least 
        one {% placeholder %} template tag to be useful for django CMS. The name of the placeholder is 
        simply a descriptive one, for your reference. {% endcomment %}
        {% render_block "js" %}
    </body>
</html>